[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"discord.py" = "==2.3.*"
gidgethub = "*"
httplib2 = "*"
matplotlib = "*"
parsedatetime = "*"
pillow = "*"
skyfield = "*"
deepl = "*"
unidecode = "*"
PyYAML = "*"
googletrans = {git = "https://github.com/c-goosen/py-googletrans.git"}
pluralkit = "*"
yt-dlp = "*"
easgen = "*"
pydub = "*"
diff-match-patch = "*"

[dev-packages]

[requires]
python_version = "3.11"
